/*The color scheme I am using is #14 vintage romantic formt he 50 color schemes website*/
h1	{
	text-align: center;
	font-family: 'Cinzel';
	font-weight: bold;
	font-size: 6em;
	color: #260126;
}
h3{
	text-align: center;
	border-radius: 5px;
	width: 70%;
	margin: 0px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Cinzel';
	font-weight: bold;
	font-size:3em;
}

li{
	float: left;
	list-style-type: none;
	width: 6.25vw;
	max-width: 112px;
}
.blackSquare{
	width: 6.25vw;
	max-width: 112px;
	min-width: 63px;
	height: 6.25vw;
	max-height: 112px;
	/*min-height: 63px;*/
	/*background: #56303A;*/
	background-image: url(./Assets/swampSquare.png);
	color: #F2EEB3;
	float: left;
}
.whiteSquare{
	width: 6.25vw;
	max-width: 112px;
	min-width: 63px;
	height: 6.25vw;
	color: #56303A;
	max-height: 112px;
	/*min-height: 63px;*/
	/*background: #F2EEB3;*/
	background-image: url(./Assets/grassSquare.png);
	float: left;
	
	/*outline: 2px solid #DEB305;*/
}
#gameBoard{
	width: 100%;
	max-width:896px;
	max-height:896px;
	min-width: 504px;
	/*min-height: 504px;*/
}
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
#test-btn{
	background: #005784;
	text-align: center;
	color: #E9E9E2;
	font-family: 'Cinzel';
	font-weight: bold;
	font-size: 3em;
	width: 15vw;
	margin: 10px auto;
	border-radius: 5px;
}

#test-btn:hover{
	background: #3A1550;
	color: #E9E9E2;
}

#white-prison{
	background: #005784;
	color: #E9E9E2;
}

#black-prison{
	background: #3A1550;
	color: #E9E9E2;
}

.prison{
	background: rgba(10 ,10, 10, .2);
	width: 70%;
}

/*body{
	background: #260126;
}*/