//Colors with descriptive names

$necro-purple    : #260126;
$bone-white	     : #F2EEB3;
$righteous-blue  : #005784;

//Fonts
$main-font	     : 'Cinzel';
$main-text-align : center;
$main-font-weight: bold;